@import "https://fonts.googleapis.com/css2?family=Oxanium&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";

@font-face {
	font-weight: bold;
	font-family: DrukWideCyTT;
	font-style: normal;
	src: url("DrukWideCyTT/DrukWideCyTT-Bold.eot");
	src:
		url("DrukWideCyTT/DrukWideCyTT-Bold.eot?#iefix") format("embedded-opentype"),
		url("DrukWideCyTT/DrukWideCyTT-Bold.woff2") format("woff2"),
		url("DrukWideCyTT/DrukWideCyTT-Bold.woff") format("woff"),
		url("DrukWideCyTT/DrukWideCyTT-Bold.ttf") format("truetype");
	font-display: swap;
}
